<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../jats.rng" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="../../src/support.sch" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<?expected-error message="<app> is ignored." node="/app"?>
<?expected-error message="@content-type on <app> is ignored." node="/app"?>
<?expected-error message="<fig> in <app> is ignored." node="/app/fig"?>
<?expected-error message="<graphic> in <app> is ignored." node="/app/graphic"?>
<?expected-error message="<p> in <app> is ignored." node="/app/p"?>
<?expected-error message="<ref-list> in <app> is ignored." node="/app/ref-list"?>
<?expected-error message="<sec> in <app> is ignored." node="/app/sec"?>
<?expected-error message="<title> in <app> is ignored." node="/app/title"?>
<app xmlns:xlink="http://www.w3.org/1999/xlink" content-type="app">
    <title/>
    <p/>
    <fig>
        <graphic xlink:href="https://example.com/image.jpg"/>
    </fig>
    <graphic xlink:href="https://example.com/image.jpg"/>
    <sec/>
    <ref-list/>
</app>